h1{
    color: white
}

h2 {
    font-size: 2.5rem;
    color: white;
}
h3{
    color:white;
}
h6 {
    color: white;
}
h4{
    color: white;
}
.introducao{
    display: flex;
    margin: 50px;
    flex-direction: column;

}
.divisaoTela{
    border-style: solid;
    border-color: black;
    background-color: rgba(11, 46, 0, 0.637);

}

.inputFeedback{
    margin: 0 auto;
    margin-top: 2%;
    width: 60%;

}
.feedbackID{
    margin-bottom: 2%;
}
.input-group>.form-control, .input-group>.form-select{
    width: 100%;
    border-radius: 10px;
    
}
.botaoEnvioFeedback{
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;

}
.tituloFormulario{
    color: black;
    
}
.logo{
    display: flex;
    justify-content: space-around;
    height: 20vh;
}
.branco{
    width: 10%;
}
.btn{
    background-color: green;
    border-color: green;

}
