h1{
    color: white
}
h2 {
    font-size: 2.5rem;
    color: white;
}
h4{
    color: white;

}
.mapa{
    
    display: flex;
    flex-direction: column;
    width: 35%;
    
}
.mapa1{
    background-color: white;
    margin: 2%;
    height: 15%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 25px;
}
.mapa1 iframe{
    border-radius: 25px;
    height: 100%;
}
.texto{
    margin-left: 1%;
    margin-top: 7%;
    width: fit-content;
    
}