h2{
    font-size: 2.5rem;
    background-color: rgba(3, 212, 150, 0.315);
    ;
}
.natan{
    display: flex;
    height: 100vh;
    margin: 50px;
    flex-direction: column;
}
.maps{
    height: 20px;
    width: 20px;
    
}