.help{
    color: brown;
}
.fundo{
    background-color: white;
    margin: 2% auto;
    border-radius: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 2%;

}
.infoProduto{
    display:flex;
    float:left;
    width: 100%;

}
.inputInfoProduto{
    width: 30%;
    
}

.emailVendedor{
    width: 30%;
    margin-right: 5%;
   
}
.nomeProduto{
    width: 50%;
    margin-right: 5%;

}
.precoProduto{
    width: 30%;
}
.senhaConfirmacao{
    width: 20%;
    margin: 0 auto;
}
.espacamento{
    margin: 2%;
}
