h1{
    color: white

}
h2 {
    background-color: rgba(19, 161, 0, 0.527);
    color: black;
    display: flex;
    justify-content: center;
}
h4{
    color: white;
}
.mapa{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    width: 100%;
}
.mapa1{
    background-color: white;
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 5%;
    
    height: 17%;
    display:flex;
    border-radius: 25px;
}
.mapa1 iframe{
    border-radius: 25px;
    height: 100%;
}
.texto{
    margin-top: 7%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    width: 50%;
}
.tipo{
    text-align: center; 
}
.dropdown-toggle{
    background-color: rgb(61, 110, 184);
    border: rgba(255, 255, 255, 0);
}
.frameRef{
    background-color: white;
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 4%;
    
    width: 90%;
    height: 17%;
    display:flex;
    align-content: center;
    border-radius: 25px;
}
.textoRef{
    margin: auto;
}
.btn{
    background-color: green;
}